.container{
  margin: 80px;
 
}
.jobdetails{
margin: 20px;
padding: 20px 40px;
box-shadow: 5px 5px 10px rgb(218, 215, 220);
color: #000;
font-size: 16px;
}
.jobdetails h1{
  color: #5d247a;
}
.btn-submit{
margin: 20px;
padding: 10px 15px;
cursor: pointer;
background-color:#8e30d1;
border: none;
color: #fff;
border-radius: 20px;
}