.seeker_container{
    justify-content: center;
    text-align: center;
}
.login_container{
    padding: 20px 40px;
    box-shadow: 5px 5px 10px rgb(218, 215, 220);
    width: 350px;   
    margin: auto;
    backdrop-filter: blur(10px);
}
.login_container h1{
    color: #5d247a;

}
.form-group input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    box-shadow: inset -2px -2px 5px rgb(207, 158, 240);
   border: none;
   
}

.btn-submit{
    padding: 10px 15px;
    cursor: pointer;
    background-color:#8e30d1;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    width: 150px;
}
.signup-link {
    color:#fff;
 font-size: 16px;
 font-weight: bold;
}