.create_container {
    padding: 20px 40px;
    box-shadow: 5px 5px 10px rgb(218, 215, 220);
    width: 500px;
    margin: auto;
    backdrop-filter: blur(10px);
    text-align: center;
    justify-content: center;

}

.input-box input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    box-shadow: inset -2px -2px 5px rgb(207, 158, 240);
    border: none;
    width: 100%;
    max-width: 200px;

}


.input-box .input_text {
    margin-bottom: 15px;
    padding: 10px;

    font-size: 16px;
    box-shadow: inset -2px -2px 5px rgb(207, 158, 240);
    border: none;

}

.btn-submit {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #8e30d1;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
}