.login-container{
    justify-content: center;
    text-align: center;
   
}
.login_form{
    padding: 20px 40px;
    box-shadow: 5px 5px 10px rgb(218, 215, 220);
    width: 400px;   
    margin: auto;
    backdrop-filter: blur(10px); 
}


.submit{
    padding: 10px 15px;
    cursor: pointer;
    background:#8e30d1;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    width: 120px;

}
.gray{
    background: #fff;
    color: rgb(105, 104, 104);
}